body {
    font-family: "Roboto", sans-serif;
}

.hidden {
    display: none;
}

.wrapper {
    display: grid;
    justify-items: center;
}

.nav {
    position: fixed;
    height: 75px;
    width: 330px;
    background-color: #4285F4;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-content {
    position: relative;
    height: 75px;
}

.nav-content span {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 20px;
    color: #fff;
}
.nav-content #show-add {
    position: absolute;
    top: 15px;
    left: 280px;
    width: 40px;
    height: 40px;
    margin-right: 0;
    color: #4285F4;
    background-color: #fff;
    border: none;
    outline: 0 !important;
    border-radius: 50%;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.todos-display {
    display: inline-block;
    position: relative;
    width: 330px;
    min-height: 500px;
    max-height: 500px;
    background-color:#fff;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.heading {
    text-align: center;
    font-size: 25px; 
}

.add-todo {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -100px;
    height: 38px;
    width: 200px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    border: 1px solid #4285F4;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#todo-content {
    height: 25px;
    border: none;
    outline: 0 !important;
}

.submit-todo {
    height: 38px;
    width: 69.05px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    outline: 0 !important;
}

.todos-render {
    display: grid;
    grid-row: auto;
    margin-top: 85px;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    height: 35px;
    font-size: 20px;
}

.remove {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: lightgrey;
}

.complete-todo {
    cursor: pointer;
    margin-right: 10px;
}


@media screen and (max-height: 500px) {
    .nav {
        position: absolute;
    }
}

